body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: #f8f4ec;
}

button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.headline {
    position: relative;
}

.headline > div:first-child {
    width: 99.2vw;
    height: 60vh;
}

.title, .desc {
    position: absolute;
    color: #f3ede2;
}

.title {
    top: 30%;
    right: 35%;
    font-size: 5rem;
}

.desc {
    top: 50%;
    right: 25%;
    font-size: 3.5rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f3ede2;
    padding: 10rem;
    gap: 2rem 7rem;
}

.story > div:first-child {
    grid-row: 1 / 3;
}

.story-title {
    color: #3b2f2f;
    font-size: 4rem;
}

.story-desc {
    color: #4a4a4a;
    font-size: 3rem;
}

.story-img {
    width: 500px;
    height: 350px;
}

.visit {
    background-color: #f8f4ec;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    padding: 5rem;
    gap: 3rem;
}

.visit > div:first-child {
    grid-column: 1 / 3;
    font-size: 4rem;
    color: #3b2f2f;
    font-weight: 700;
}

.bottom-title {
    font-size: 3rem;
    color: #4a4a4a;
}

.location {
    font-size: 2rem;
}

.background {
    background-color: #f3ede2;
}

.big-title, 
.menu-title,
.starters-title,
.mains-title,
.desserts-title {
    text-align: center;
    color: #3b2f2f;
}

.big-title {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.menu-title {
    margin-top: 0;
    font-size: 2.5rem;
}

.starters-div,
.mains-div,
.desserts-div {
    width: 500px;
    margin: auto;
}

.starters-title,
.mains-title,
.desserts-title {
    font-size: 2rem;
}

.flex-div {
    display: flex;
    justify-content: space-between;
}

.contact-title {
    text-align: center;
    color: #3b2f2f;
    font-size: 5rem;
    font-weight: 700;
    margin-top: 2rem;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3a2e28;
    font-size: 1.5rem;
}